<div class="jumbotron" style="background-image: url(<%= image_url '背景画像2.jpg' %>);">
  <div class="container">
    <div class="row mb-5">
      <div class="mx-auto">
        <h1>
          <strong>naganocake</strong>
        </h1>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="text-left">
      <p>
        ようこそ、ながのCAKEへ!<br />
        このサイトは、ケーキ販売のECサイトになります。<br />
        会員でない方も商品の閲覧ができますが、<br />
        購入には会員登録が必要になります。
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2>New Items</h2>
    </div>
  </div>

  <div class="row">
    <% @items.each do |item| %>
    <div class="mx-auto">
      <%= image_tag item.image, size: "180x130" %>
      <div>
      <%= link_to item.name, "items/#{item.id}" %>
      <%= item.price_without_tax %>円
      </div>
    </div>
    <% end %>
  </div>
</div>