<h1>naganocake</h1>

  <div class="main-visual">
    <div class="main-visual-content">
      <p class="main-visual-text">
        ようこそ、ながのCAKEへ!<br />
        このサイトは、ケーキ販売のECサイトになります。<br />
        会員でない方も商品の閲覧ができますが、<br />
        購入には会員登録が必要になります。
      </p>
    </div>
  </div>

  <h4>新着商品</h4>