<h1>会員ページ</h1>

<p>氏名</p>
<%= @customer.last_name %>
<%= @customer.first_name %>

<p>メールアドレス</p>
<%= @customer.email %>

<p>ステータス</p>
<% if customers.is_deleted == false %>
有効
<% else %>
無効
<% end %>

