<h4>注文履歴一覧</h4>

<% @orders.each do |order| %>
  <p>購入日時</p>
  <%= link_to order.created_at.strftime('%Y/%m/%d'), admin_order_path(order) %>

  <p>購入者</p>
  <%= order.customer.last_name + order.customer.first_name %>

  <p>注文個数</p>
  <%= order.order_details.pluck(:amount).sum %>
<% end %>