@import '~bootstrap/scss/bootstrap';


.jumbotron {
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-color: rgba( 0, 0, 0, 0.5);
}

h1 {
  font-family: serif;
}

p {
  font-family: system-ui;
}